In [2]:
import pandas as pd # deals with data frame  
import numpy as np  # deals with numerical values
import seaborn as sns
import matplotlib.pyplot as plt
import os
import sys

# ignore warnings
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

data = pd.read_csv(r"C:\Users\nandana\Downloads\customer_shopping_behavior.csv")
data.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
data.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [12]:
data.duplicated().sum()

0

In [16]:
data.shape

(3900, 18)

In [20]:
data.size

70200

In [22]:
data.describe(include = object)

,Gender,Item Purchased,Category,Location,Size,Color,Season,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Payment Method,Frequency of Purchases
count,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900
unique,2,25,4,50,4,25,4,2,6,2,2,6,7
top,Male,Blouse,Clothing,Montana,M,Olive,Spring,No,Free Shipping,No,No,PayPal,Every 3 Months
freq,2652,171,1737,96,1755,177,999,2847,675,2223,2223,677,584

In [26]:
data.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [34]:
data['Review Rating']=data.groupby('Category')['Review Rating'].transform(lambda x:x.fillna(x.median()))

In [36]:
data.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [38]:
df=data.copy()

In [40]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [52]:
df.columns = df.columns. str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns={'purchase_amount_(usd)' :'purchase_amount'})

In [54]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [56]:
# create a column age_group
labels = ['Young Adult', 'Adult' , 'Middle-ages' , 'Senior' ]
df['age_group'] = pd.qcut(df['age'],q=4,labels = labels)

In [58]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-ages
1   19  Young Adult
2   50  Middle-ages
3   21  Young Adult
4   45  Middle-ages
5   46  Middle-ages
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-ages

In [62]:
df.frequency_of_purchases.value_counts()

frequency_of_purchases
Every 3 Months    584
Annually          572
Quarterly         563
Monthly           553
Bi-Weekly         547
Fortnightly       542
Weekly            539
Name: count, dtype: int64

In [72]:
# create a purchase_frequency_days
frequency_mapping = {
    'Fortnightly' : 14,
    'Weekly' : 7,
    'Monthly' : 30,
    'Quarterly' : 90,
    'Bi-Weekly' : 14,
    'Annually' : 365,
    'Every 3 Months' : 90
}

df['purchases_frequency_days']=df['frequency_of_purchases'].map(frequency_mapping)

In [80]:
df[['purchases_frequency_days','frequency_of_purchases']].head(10)

   purchases_frequency_days frequency_of_purchases
0                        14            Fortnightly
1                        14            Fortnightly
2                         7                 Weekly
3                         7                 Weekly
4                       365               Annually
5                         7                 Weekly
6                        90              Quarterly
7                         7                 Weekly
8                       365               Annually
9                        90              Quarterly

In [89]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [93]:
(df['discount_applied']==df['promo_code_used']).all()

True

In [95]:
df =df.drop('promo_code_used',axis=1)

In [99]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchases_frequency_days'],
      dtype='object')

In [101]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: sqlalchemy in c:\users\nandana\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\nandana\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\nandana\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB 72.6 kB/s eta 0:00:38
   ---------------------------------------- 0.0/2.7 MB 108.9 kB/s eta 0:00:25
    --------------------------------------- 0.0/2.7 MB 122.9 kB/s eta 0:00:22
   - -------------------------------------- 0.1/2.7 MB 218.5 kB/s eta 0:00:13
   -- ------------------------------------- 0.2/2.7 MB 402.6 kB/s eta 0:00:07
   --- ------------------------------------ 0.3/2.7 MB 524.0 kB/s eta 0:00:05
   ---- ----------------------------------- 0.3/2.7 MB 635.0 kB/s eta 0:00:04
   ----- ---------------------------------- 0.4/2.7 MB 636.5 kB/s eta 0:00:04
   ----- ---------------------------------- 0.4/2.7 MB 637.8 kB/s eta 0:00:04
   ----- ---------------------------------- 0.4/2.7 MB 637.8 kB/s eta 0:00:04
   ------ --------------------------------- 0.4/2.7 MB 580.5 kB/s eta 0:00:04
   ------ --------------------------------- 0.4/2.7 MB 561.5 kB/s eta 0:00:05
   ------ --------------------------------- 0.4/2.7 MB 561.5 kB/s eta 0:00:05
   ------ --------------------------------- 0.4/2.7 MB 561.5 kB/s eta 0:00:05
   ------ --------------------------------- 0.4/2.7 MB 561.5 kB/s eta 0:00:05
   ------ --------------------------------- 0.5/2.7 MB 475.5 kB/s eta 0:00:05
   ------- -------------------------------- 0.5/2.7 MB 476.3 kB/s eta 0:00:05
   ------- -------------------------------- 0.5/2.7 MB 468.0 kB/s eta 0:00:05
   ------- -------------------------------- 0.5/2.7 MB 468.0 kB/s eta 0:00:05
   -------- ------------------------------- 0.6/2.7 MB 456.8 kB/s eta 0:00:05
   -------- ------------------------------- 0.6/2.7 MB 464.3 kB/s eta 0:00:05
   -------- ------------------------------- 0.6/2.7 MB 464.3 kB/s eta 0:00:05
   --------- ------------------------------ 0.6/2.7 MB 449.5 kB/s eta 0:00:05
   --------- ------------------------------ 0.6/2.7 MB 439.3 kB/s eta 0:00:05
   ---------- ----------------------------- 0.7/2.7 MB 445.8 kB/s eta 0:00:05
   ---------- ----------------------------- 0.7/2.7 MB 443.5 kB/s eta 0:00:05
   ------------ --------------------------- 0.8/2.7 MB 493.1 kB/s eta 0:00:04
   ------------- -------------------------- 0.9/2.7 MB 521.9 kB/s eta 0:00:04
   -------------- ------------------------- 1.0/2.7 MB 542.2 kB/s eta 0:00:04
   ---------------- ----------------------- 1.1/2.7 MB 578.9 kB/s eta 0:00:03
   ---------------- ----------------------- 1.1/2.7 MB 578.9 kB/s eta 0:00:03
   ---------------- ----------------------- 1.1/2.7 MB 586.1 kB/s eta 0:00:03
   ---------------- ----------------------- 1.1/2.7 MB 586.1 kB/s eta 0:00:03
   ----------------- ---------------------- 1.2/2.7 MB 585.7 kB/s eta 0:00:03
   ------------------ --------------------- 1.3/2.7 MB 601.8 kB/s eta 0:00:03
   ------------------- -------------------- 1.3/2.7 MB 603.7 kB/s eta 0:00:03
   -------------------- ------------------- 1.4/2.7 MB 614.4 kB/s eta 0:00:03
   -------------------- ------------------- 1.4/2.7 MB 614.4 kB/s eta 0:00:03
   --------------------- ------------------ 1.4/2.7 MB 611.6 kB/s eta 0:00:03
   ---------------------- ----------------- 1.5/2.7 MB 625.7 kB/s eta 0:00:02
   ---------------------- ----------------- 1.5/2.7 MB 626.2 kB/s eta 0:00:02
   ----------------------- ---------------- 1.6/2.7 MB 634.9 kB/s eta 0:00:02
   ----------------------- ---------------- 1.6/2.7 MB 634.9 kB/s eta 0:00:02
   ----------------------- ---------------- 1.6/2.7 MB 634.9 kB/s eta 0:00:02
   ------------------------ --------------- 1.6/2.7 MB 613.2 kB/s eta 0:00:02
   ------------------------ --------------- 1.7/2.7 MB 613.3 kB/s eta 0:00:02
   ------------------------- -------------- 1.7/2.7 MB 618.1 kB/s eta 0:00:02
   ------------------------- -------------- 1.7/2.7 MB 618.1 kB/s eta 0:00:02
   -------------------------- ------------- 1.8/2.7 MB 626.4 kB/s eta 0:00:02
   -------------------------- ------------- 1.8/2.7 MB 626.4 kB/s eta 0:00:02
   --------------------------- ------------ 1.9/2.7 MB 627.6 kB/s eta 0:00:02
   ---------------------------- ----------- 1.9/2.7 MB 631.5 kB/s eta 0:00:02
   ---------------------------- ----------- 1.9/2.7 MB 634.9 kB/s eta 0:00:02
   ----------------------------- ---------- 2.0/2.7 MB 642.1 kB/s eta 0:00:02
   ----------------------------- ---------- 2.0/2.7 MB 642.1 kB/s eta 0:00:02
   ------------------------------ --------- 2.0/2.7 MB 639.2 kB/s eta 0:00:02
   ------------------------------- -------- 2.1/2.7 MB 655.4 kB/s eta 0:00:01
   ------------------------------- -------- 2.2/2.7 MB 658.3 kB/s eta 0:00:01
   -------------------------------- ------- 2.2/2.7 MB 664.6 kB/s eta 0:00:01
   -------------------------------- ------- 2.2/2.7 MB 664.6 kB/s eta 0:00:01
   --------------------------------- ------ 2.3/2.7 MB 667.2 kB/s eta 0:00:01
   ---------------------------------- ----- 2.3/2.7 MB 667.0 kB/s eta 0:00:01
   ---------------------------------- ----- 2.4/2.7 MB 669.9 kB/s eta 0:00:01
   ----------------------------------- ---- 2.4/2.7 MB 678.3 kB/s eta 0:00:01
   ------------------------------------ --- 2.4/2.7 MB 678.1 kB/s eta 0:00:01
   ------------------------------------- -- 2.5/2.7 MB 686.0 kB/s eta 0:00:01
   ------------------------------------- -- 2.5/2.7 MB 686.0 kB/s eta 0:00:01
   -------------------------------------- - 2.6/2.7 MB 685.4 kB/s eta 0:00:01
   -------------------------------------- - 2.6/2.7 MB 685.0 kB/s eta 0:00:01
   ---------------------------------------  2.7/2.7 MB 697.9 kB/s eta 0:00:01
   ---------------------------------------  2.7/2.7 MB 694.8 kB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 686.6 kB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

In [103]:
pip install pyodbc sqlalchemy

Requirement already satisfied: pyodbc in c:\users\nandana\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: sqlalchemy in c:\users\nandana\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\nandana\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\nandana\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [119]:
import sqlalchemy
import urllib

server = 'LAPTOP-KUGLQ4UI\\SQLEXPRESS'     # Your SQL Server name
database = 'customer_behavior' # Add your database name
driver = 'ODBC Driver 17 for SQL Server'

conn_str = f'DRIVER={{{driver}}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

conn_url = "mssql+pyodbc:///?odbc_connect=" + urllib.parse.quote_plus(conn_str)

engine = sqlalchemy.create_engine(conn_url)

In [126]:
df.to_sql("customer", engine, if_exists="replace", index=False)

50

In [136]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

server = r"LAPTOP-KUGLQ4UI\SQLEXPRESS"
database = "customer_behavior"

driver = quote_plus("ODBC Driver 17 for SQL Server")

engine = create_engine(
    f"mssql+pyodbc://@{server}/{database}?driver={driver}&trusted_connection=yes"
)

df.to_sql("customer", engine, if_exists="replace", index=False)

50

In [138]:
pd.read_sql("SELECT TOP 5 * FROM customer;", engine)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchases_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle-ages,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young Adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle-ages,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle-ages,365

In [140]:
len(df)

3900

In [142]:
pd.read_sql("SELECT COUNT(*) FROM customer;", engine)

0  3900

In [144]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

server = r"LAPTOP-KUGLQ4UI\SQLEXPRESS"
database = "customer_behavior"

driver = quote_plus("ODBC Driver 17 for SQL Server")

engine = create_engine(
    f"mssql+pyodbc://@{server}/{database}?driver={driver}&trusted_connection=yes"
)

df.to_sql("customer", engine, if_exists="replace", index=False)

pd.read_sql("SELECT TOP 5 * FROM customer;", engine)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchases_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle-ages,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young Adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle-ages,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle-ages,365

In [146]:
pd.read_sql("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'customer';", engine)

                 COLUMN_NAME
0                customer_id
1                        age
2                     gender
3             item_purchased
4                   category
5            purchase_amount
6                   location
7                       size
8                      color
9                     season
10             review_rating
11       subscription_status
12             shipping_type
13          discount_applied
14        previous_purchases
15            payment_method
16    frequency_of_purchases
17                 age_group
18  purchases_frequency_days

In [148]:
pd.read_sql("SELECT category, COUNT(*) FROM customer GROUP BY category ORDER BY COUNT(*) DESC;", engine)

      category
0     Clothing  1737
1  Accessories  1240
2     Footwear   599
3    Outerwear   324

SyntaxError: invalid syntax (2242705251.py, line 1)